* {
  margin: 0;
  overflow-x: clip;
  box-sizing: border-box;
}
img{
  width: 100%;
  max-width: 100%;
}
.main-wrapper {
  display: flex;
}
.main-wrapper .left-main-wrapper{
  flex: 0 0 17%;
}
.main-wrapper .right-main-wrapper{
  padding: 30px;
  flex: 0 0 83%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.right-main-wrapper .card-wrapper{
  display: flex;
  column-gap: 20px;
}
.right-main-wrapper .right-content{
display: flex;
column-gap: 30px;}
.right-content .bar{
  flex: 0 0 70%;
}
.right-content .pie {
  flex: 0 0 28%
}
@media only screen and (max-width: 600px) {
  .main-wrapper .left-main-wrapper {
    flex: 0 0 10%;
  }
  .right-main-wrapper .right-content{
    display: block;
  }
  .barchart{
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .main-wrapper .left-main-wrapper {
    flex: 0 0 0%;
  }
  .main-wrapper .right-main-wrapper {
    flex: 0 0 100%;
  }
}